<?xml version="1.0" encoding="utf-8"?>
<Content Key="1723c66d-1858-43ae-91e3-6aee09747a71" Alias="Autor Kamil Kowalski" Level="3">
  <Info>
    <Parent Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f">Baza Danych</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/AutorKamilKowalski</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2026-08-03T14:15:09</CreateDate>
    <NodeName Default="Autor Kamil Kowalski" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Kamil]]></Value>
    </firstName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <secondName>
      <Value><![CDATA[Kowalski]]></Value>
    </secondName>
  </Properties>
</Content>