<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a90b5ad-017a-40c6-8482-cf5e645fe7ec" Alias="testowy artykuł (zmiana)" Level="4">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">Strona Aktualności</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna/StronaAktualnosci/testowyArtykulZmiana</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-08-18T12:39:52</CreateDate>
    <NodeName Default="testowy artykuł (zmiana)">
      <Name Culture="pl-PL">testowy artykuł (zmiana)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value Culture="pl-PL"><![CDATA[testowy artykuł]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "key": "bed95a00-01d8-486c-ad3d-cc98d2d57f94",
      "values": [
        {
          "alias": "componentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003Etestowy artyku\u0142testowy artyku\u0142testowy artyku\u0142testowy artyku\u0142\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "f6debefb-90a7-41df-aa38-47adbb4e5473",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bed95a00-01d8-486c-ad3d-cc98d2d57f94",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bed95a00-01d8-486c-ad3d-cc98d2d57f94",
        "contentUdi": null,
        "settingsKey": "f6debefb-90a7-41df-aa38-47adbb4e5473",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-08-19T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value Culture="pl-PL"><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="pl-PL"><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/92f7d19347c24615b25c1f222c58eaa3]]></Value>
    </tag>
  </Properties>
</Content>