<?xml version="1.0" encoding="utf-8"?>
<Content Key="1df8c0e5-0739-4b7c-9c35-fc3074b14f1b" Alias="Volkswagen ID. Cross oficjalnie. Trzy silniki do wyboru. Na pewno zagrają tu ceną" Level="3">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">Strona Aktualności</Parent>
    <Path>/PortalMotoryzacyjny/StronaAktualnosci/VolkswagenIDCrossOficjalnieTrzySilnikiDoWyboruNaPewnoZagrajaTuCena</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-16T22:02:43</CreateDate>
    <NodeName Default="Volkswagen ID. Cross oficjalnie. Trzy silniki do wyboru. Na pewno zagrają tu ceną">
      <Name Culture="pl-PL">Volkswagen ID. Cross oficjalnie. Trzy silniki do wyboru. Na pewno zagrają tu ceną</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value Culture="pl-PL"><![CDATA[Volkswagen ID. Cross oficjalnie. Trzy silniki do wyboru. Na pewno zagrają tu ceną]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "key": "9864f767-9268-4039-b4c5-a6bb96d106c7",
      "values": [
        {
          "alias": "componentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003EDo Volkswagena ID. Polo w\u0142a\u015Bnie do\u0142\u0105czy\u0142 ma\u0142y SUV-ik na jego bazie. Poznajcie oficjalnie nowego Volkswagena ID. Crossa. Elektryczny model, od kt\u00F3rego bardzo du\u017Co zale\u017Cy \u2014 nieprzekonanych ma przekona\u0107 atrakcyjn\u0105 cen\u0105.\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003EPo latach zapowiedzi i obietnic Volkswagen w ko\u0144cu wjecha\u0142 do segmentu ma\u0142ych i przyst\u0119pnie wycenionych elektryk\u00F3w. Lada chwila na drogi wyjad\u0105 ma\u0142e, ale przestronne auta na bazie platformy MEB\u002B. Volkswagen b\u0119dzie mia\u0142 dwa takie modele ID. Polo i ID. Cross, swoje odpowiedniki maj\u0105 lub b\u0119d\u0105 mia\u0142y tak\u017Ce Skoda, Cupra i Audi. Czy rzeczywi\u015Bcie b\u0119d\u0105 tanie? Volkswagen wyceni\u0142 bazow\u0105 wersj\u0119 ID. Polo na 99 tys. z\u0142.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9864f767-9268-4039-b4c5-a6bb96d106c7",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9864f767-9268-4039-b4c5-a6bb96d106c7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-07-15T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/b2f9cb5bab3b4d59b791137161679af4]]></Value>
    </tag>
  </Properties>
</Content>