<?xml version="1.0" encoding="utf-8"?>
<Content Key="225bcefd-b793-4d2b-9b0e-e0f5db282293" Alias="Portal Motoryzacyjny" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PortalMotoryzacyjny</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteContainer</ContentType>
    <CreateDate>2026-07-15T01:29:14</CreateDate>
    <NodeName Default="Portal Motoryzacyjny">
      <Name Culture="pl-PL">Portal Motoryzacyjny</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value Culture="pl-PL"><![CDATA[Automotive. Wszelkie prawa zastrzeżone]]></Value>
    </copyrightText>
    <footerLinks>
      <Value Culture="pl-PL"><![CDATA[[
  {
    "name": "Przyk\u0142adowy link",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://chatgpt.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerLinks>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <navLinks>
      <Value Culture="pl-PL"><![CDATA[[
  {
    "name": "Strona Informacyjna",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/3dec5457c2764b759422339ae5c86243",
    "url": null,
    "queryString": null,
    "culture": null
  },
  {
    "name": "Aktualno\u015Bci",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/584475a06f584ffe92f3cf1855924948",
    "url": null,
    "queryString": "",
    "culture": null
  }
]]]></Value>
    </navLinks>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>