<?xml version="1.0" encoding="utf-8"?>
<Content Key="27813ec0-7aac-4ff0-bfc4-4b2885ccb15f" Alias="Tagi" Level="3">
  <Info>
    <Parent Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f">Baza Danych</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/Tagi</Path>
    <Trashed>false</Trashed>
    <ContentType>folderTag</ContentType>
    <CreateDate>2026-08-20T13:10:03</CreateDate>
    <NodeName Default="Tagi" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>