<?xml version="1.0" encoding="utf-8"?>
<Content Key="27ea4fc5-c69f-4265-b397-97dfb6c39f49" Alias="SUV wjechał na stok narciarski" Level="3">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">Strona Aktualności</Parent>
    <Path>/PortalMotoryzacyjny/StronaAktualnosci/SUVWjechalNaStokNarciarski</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-16T20:34:59</CreateDate>
    <NodeName Default="SUV wjechał na stok narciarski">
      <Name Culture="pl-PL">SUV wjechał na stok narciarski</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value Culture="pl-PL"><![CDATA[Chciał sprawdzić możliwości auta, incydent na stoku narciarskim]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "key": "9280fd17-0d7f-4266-a1d6-28d19691805e",
      "values": [
        {
          "alias": "componentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EW tej sprawie skontaktowali\u015Bmy si\u0119 z Komend\u0105 Miejsk\u0105 Pa\u0144stwowej Stra\u017Cy Po\u017Carnej w Wa\u0142brzychu.\u003Cbr\u003E\u003Cbr\u003E- Mieli\u015Bmy zg\u0142oszenie o 00:23. Kierowca, 40-letni m\u0119\u017Cczyzna, pr\u00F3bowa\u0142 wjecha\u0107 samochodem terenowym na stok Dzikowiec, gdzie znajduje si\u0119 wyci\u0105g narciarski. W jednym z miejsc to najbardziej stromy stok w Polsce, wi\u0119c ci\u0119\u017Cko tam wjecha\u0107. Samoch\u00F3d straci\u0142 przyczepno\u015B\u0107 i zacz\u0105\u0142 kozio\u0142kowa\u0107 oko\u0142o 200 metr\u00F3w w d\u00F3\u0142 - poinformowa\u0142 st. kpt. Tomasz Kwiatkowski.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9280fd17-0d7f-4266-a1d6-28d19691805e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9280fd17-0d7f-4266-a1d6-28d19691805e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-07-11T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/3216023c16134c1f9807354bc3c09e91]]></Value>
    </tag>
  </Properties>
</Content>