<?xml version="1.0" encoding="utf-8"?>
<Content Key="3216023c-1613-4c1f-9807-354bc3c09e91" Alias="Tag Wypadek" Level="4">
  <Info>
    <Parent Key="27813ec0-7aac-4ff0-bfc4-4b2885ccb15f">Tagi</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/Tagi/TagWypadek</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-07-16T20:08:59</CreateDate>
    <NodeName Default="Tag Wypadek" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Wypadek]]></Value>
    </tagName>
  </Properties>
</Content>