<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c1db88b-e271-440f-a6ea-153e221d972a" Alias="404 Error" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Automotive Info</Parent>
    <Path>/AutomotiveInfo/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>error404Page</ContentType>
    <CreateDate>2026-07-15T12:20:02</CreateDate>
    <NodeName Default="404 Error">
      <Name Culture="en-US">404 Error</Name>
      <Name Culture="pl-PL">Błąd 404</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65aa-bf0b-7c7f-ba31-1928f27a99b9">StronaBledu404</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Błąd 404]]></Value>
    </heading>
    <lead>
      <Value><![CDATA[Niestety błąd :D]]></Value>
    </lead>
    <link>
      <Value><![CDATA[[
  {
    "name": "Strona g\u0142owna",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "chatgpt.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>