<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c1db88b-e271-440f-a6ea-153e221d972a" Alias="Błąd 404" Level="3">
  <Info>
    <Parent Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">Strona Główna</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna/Blad404</Path>
    <Trashed>false</Trashed>
    <ContentType>error404Page</ContentType>
    <CreateDate>2026-07-15T12:20:02</CreateDate>
    <NodeName Default="Błąd 404">
      <Name Culture="pl-PL">Błąd 404</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">false</Published>
    </Published>
    <Schedule />
    <Template Key="019f65aa-bf0b-7c7f-ba31-1928f27a99b9">StronaBledu404</Template>
  </Info>
  <Properties>
    <heading>
      <Value Culture="pl-PL"><![CDATA[Błąd 404]]></Value>
    </heading>
    <lead>
      <Value Culture="pl-PL"><![CDATA[Niestety błąd :D]]></Value>
    </lead>
    <link>
      <Value><![CDATA[[
  {
    "name": "Strona g\u0142owna",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "chatgpt.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </link>
    <umbracoNaviHide>
      <Value Culture="pl-PL"><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>