<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e0b691e-c90b-4f7c-9dad-0b3c759e68bb" Alias="FAQ" Level="3">
  <Info>
    <Parent Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">Strona Główna</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna/FAQ</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-08-04T11:46:53</CreateDate>
    <NodeName Default="FAQ">
      <Name Culture="pl-PL">FAQ</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65a7-8e53-7ba4-9bf0-a785bf0fba39">StronaInformacyjna</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6530759e-1fed-4416-aa9d-7844a7df44c0",
      "key": "830496df-335b-4179-8005-1ee62487c345",
      "values": [
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
                "key": "4acda938-1b46-443b-950f-b2faf2379093",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1. Jak cz\u0119sto nale\u017Cy wymienia\u0107 olej silnikowy?"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003ECz\u0119stotliwo\u015B\u0107 wymiany oleju zale\u017Cy od modelu samochodu, rodzaju silnika oraz zalece\u0144 producenta. Najcz\u0119\u015Bciej olej wymienia si\u0119 co 10\u201315 tys. km lub raz w roku. W przypadku cz\u0119stej jazdy po mie\u015Bcie, na kr\u00F3tkich trasach lub w trudnych warunkach warto rozwa\u017Cy\u0107 cz\u0119stsz\u0105 wymian\u0119.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
                "key": "1a79f9b1-1ba6-4e29-8f9a-b02aed66f0fb",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2. Co oznaczaj\u0105 kontrolki \u015Bwiec\u0105ce na desce rozdzielczej?"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EKontrolki informuj\u0105 o stanie i dzia\u0142aniu poszczeg\u00F3lnych uk\u0142ad\u00F3w pojazdu. Zielone i niebieskie zwykle oznaczaj\u0105 aktywne funkcje, \u017C\u00F3\u0142te sygnalizuj\u0105 ostrze\u017Cenie lub potrzeb\u0119 sprawdzenia auta, a czerwone mog\u0105 wskazywa\u0107 na powa\u017Cn\u0105 usterk\u0119 wymagaj\u0105c\u0105 natychmiastowego zatrzymania pojazdu. Dok\u0142adne znaczenie kontrolki nale\u017Cy sprawdzi\u0107 w instrukcji obs\u0142ugi samochodu.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
                "key": "8b8fb992-9595-4018-9dc4-7750dfdc534e",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3. Jak sprawdzi\u0107, czy samoch\u00F3d ma wa\u017Cne ubezpieczenie OC?"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EWa\u017Cno\u015B\u0107 ubezpieczenia OC mo\u017Cna sprawdzi\u0107 online w bazie Ubezpieczeniowego Funduszu Gwarancyjnego. Wystarczy poda\u0107 numer rejestracyjny pojazdu lub jego numer VIN oraz wybra\u0107 dat\u0119, dla kt\u00F3rej chcemy zweryfikowa\u0107 ochron\u0119.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
                "key": "1290579a-4112-45bb-aae4-430f4b4041d0",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "4. Kiedy nale\u017Cy wymieni\u0107 opony letnie na zimowe?"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EOpony zimowe warto za\u0142o\u017Cy\u0107, gdy \u015Brednia temperatura zaczyna regularnie spada\u0107 poni\u017Cej oko\u0142o 7\u00B0C. Nie nale\u017Cy czeka\u0107 na pierwszy \u015Bnieg \u2014 zimowe ogumienie zapewnia lepsz\u0105 przyczepno\u015B\u0107 tak\u017Ce na zimnym i mokrym asfalcie.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
                "key": "fb7464f2-289e-4019-b666-069a6be01ea5",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "5. Na co zwr\u00F3ci\u0107 uwag\u0119 przy zakupie u\u017Cywanego samochodu?"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "\u003Cp\u003EPrzed zakupem warto sprawdzi\u0107 histori\u0119 pojazdu, numer VIN, przebieg oraz dokumentacj\u0119 serwisow\u0105. Nale\u017Cy r\u00F3wnie\u017C oceni\u0107 stan nadwozia, silnika, zawieszenia i wn\u0119trza, a przed podj\u0119ciem decyzji wykona\u0107 jazd\u0119 pr\u00F3bn\u0105. Dobrym rozwi\u0105zaniem jest tak\u017Ce przegl\u0105d samochodu w niezale\u017Cnym warsztacie lub stacji kontroli pojazd\u00F3w.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
                "key": "6962384e-9a9a-47bf-9bc8-221364b7eb9c",
                "values": [
                  {
                    "alias": "hideBlockElement",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
                "key": "5859c6f3-636d-4e3f-8247-19de37ed18bc",
                "values": [
                  {
                    "alias": "hideBlockElement",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
                "key": "95ae2c1e-a230-4b8e-9e52-a2cd7ddf09e3",
                "values": [
                  {
                    "alias": "hideBlockElement",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
                "key": "c455a137-39d8-4f4e-879d-81ac72eff1c7",
                "values": [
                  {
                    "alias": "hideBlockElement",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
                "key": "9aea2cc0-d636-4125-aa51-9017cb219d70",
                "values": [
                  {
                    "alias": "hideBlockElement",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "4acda938-1b46-443b-950f-b2faf2379093",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1a79f9b1-1ba6-4e29-8f9a-b02aed66f0fb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8b8fb992-9595-4018-9dc4-7750dfdc534e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1290579a-4112-45bb-aae4-430f4b4041d0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fb7464f2-289e-4019-b666-069a6be01ea5",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4acda938-1b46-443b-950f-b2faf2379093",
                  "contentUdi": null,
                  "settingsKey": "6962384e-9a9a-47bf-9bc8-221364b7eb9c",
                  "settingsUdi": null
                },
                {
                  "contentKey": "1a79f9b1-1ba6-4e29-8f9a-b02aed66f0fb",
                  "contentUdi": null,
                  "settingsKey": "5859c6f3-636d-4e3f-8247-19de37ed18bc",
                  "settingsUdi": null
                },
                {
                  "contentKey": "8b8fb992-9595-4018-9dc4-7750dfdc534e",
                  "contentUdi": null,
                  "settingsKey": "95ae2c1e-a230-4b8e-9e52-a2cd7ddf09e3",
                  "settingsUdi": null
                },
                {
                  "contentKey": "1290579a-4112-45bb-aae4-430f4b4041d0",
                  "contentUdi": null,
                  "settingsKey": "c455a137-39d8-4f4e-879d-81ac72eff1c7",
                  "settingsUdi": null
                },
                {
                  "contentKey": "fb7464f2-289e-4019-b666-069a6be01ea5",
                  "contentUdi": null,
                  "settingsKey": "9aea2cc0-d636-4125-aa51-9017cb219d70",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Pytania"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "5af5e30e-d4e0-4485-858d-547c7cae5094",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "830496df-335b-4179-8005-1ee62487c345",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "830496df-335b-4179-8005-1ee62487c345",
        "contentUdi": null,
        "settingsKey": "5af5e30e-d4e0-4485-858d-547c7cae5094",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <heading>
      <Value Culture="pl-PL"><![CDATA[FAQ.]]></Value>
    </heading>
    <lead>
      <Value Culture="pl-PL"><![CDATA[Najczęściej zadawane pytania]]></Value>
    </lead>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>