<?xml version="1.0" encoding="utf-8"?>
<Content Key="833364f9-1e1e-4f9a-8665-84920b87dfba" Alias="Autor Jan Nowak" Level="4">
  <Info>
    <Parent Key="997c70ea-6922-4d31-8029-ef9434bdcf8a">Autorzy</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/Autorzy/AutorJanNowak</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2026-07-15T01:30:11</CreateDate>
    <NodeName Default="Autor Jan Nowak" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <firstName>
      <Value><![CDATA[Jan]]></Value>
    </firstName>
    <photo>
      <Value><![CDATA[]]></Value>
    </photo>
    <secondName>
      <Value><![CDATA[Nowak]]></Value>
    </secondName>
  </Properties>
</Content>