<?xml version="1.0" encoding="utf-8"?>
<Content Key="997c70ea-6922-4d31-8029-ef9434bdcf8a" Alias="Autorzy" Level="3">
  <Info>
    <Parent Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f">Baza Danych</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/Autorzy</Path>
    <Trashed>false</Trashed>
    <ContentType>folderAuthor</ContentType>
    <CreateDate>2026-08-20T13:03:51</CreateDate>
    <NodeName Default="Autorzy" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>