<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d" Alias="Strona Główna" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Portal Motoryzacyjny</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna</Path>
    <Trashed>false</Trashed>
    <ContentType>frontPage</ContentType>
    <CreateDate>2026-07-15T01:49:58</CreateDate>
    <NodeName Default="Strona Główna">
      <Name Culture="en">Home Page</Name>
      <Name Culture="pl-PL">Strona Główna</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6376-7933-7b87-b179-a5329cb3f676">StronaGlowna</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="en"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "key": "863970b5-5673-48f2-a640-7909604268af",
      "values": [
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/584475a06f584ffe92f3cf1855924948"
        },
        {
          "alias": "tagFilter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b2f9cb5bab3b4d59b791137161679af4"
        },
        {
          "alias": "blockTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The latest article tagged Premiere"
        }
      ]
    },
    {
      "contentTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "key": "e86633e2-61d3-481e-b99b-54fddf5940bb",
      "values": [
        {
          "alias": "imagePosition",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Lewo"
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EConcept Car - A vision of our new company vehicle AUTOMOTIVE INFO\u003C/p\u003E"
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "2f105451-1c2e-4804-a7ba-d1c0163893e7",
      "key": "7394dcd9-f280-4f56-890a-395d4c5af320",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "OTOMOTO",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://otomoto.pl",
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "lead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Go to OTOMOTO:"
        },
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Are you looking for a car?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "28f3984d-6014-4db6-87c7-87d3a2ca08c9",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "8627568a-5524-4145-ac49-6000dc6e8b94",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "b6f7151f-9cf9-4bd4-a751-d2a4e2e5d801",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Grafit",
            "value": "1e293b"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "863970b5-5673-48f2-a640-7909604268af",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e86633e2-61d3-481e-b99b-54fddf5940bb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7394dcd9-f280-4f56-890a-395d4c5af320",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "863970b5-5673-48f2-a640-7909604268af",
        "contentUdi": null,
        "settingsKey": "28f3984d-6014-4db6-87c7-87d3a2ca08c9",
        "settingsUdi": null
      },
      {
        "contentKey": "e86633e2-61d3-481e-b99b-54fddf5940bb",
        "contentUdi": null,
        "settingsKey": "8627568a-5524-4145-ac49-6000dc6e8b94",
        "settingsUdi": null
      },
      {
        "contentKey": "7394dcd9-f280-4f56-890a-395d4c5af320",
        "contentUdi": null,
        "settingsKey": "b6f7151f-9cf9-4bd4-a751-d2a4e2e5d801",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "key": "94f0397f-922f-4013-86d4-36fb1eee7022",
      "values": [
        {
          "alias": "blockTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Najnowszy artyku\u0142 z tagiem Premiera"
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/584475a06f584ffe92f3cf1855924948"
        },
        {
          "alias": "tagFilter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b2f9cb5bab3b4d59b791137161679af4"
        }
      ]
    },
    {
      "contentTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "key": "39615ab8-90bf-4cfc-a666-6aade689e025",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EConcept Car - Wizja naszego nowego pojazdu s\u0142u\u017Cbowego AUTOMOTIVE INFO\u003C/p\u003E"
          }
        },
        {
          "alias": "imagePosition",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Lewo"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2f105451-1c2e-4804-a7ba-d1c0163893e7",
      "key": "632838e6-606a-4ceb-971f-c5bbae26c38c",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Szukasz auta?"
        },
        {
          "alias": "lead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Wejd\u017A na OTOMOTO:"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "OTOMOTO",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://otomoto.pl",
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "fbffc0ad-e521-4dde-b55a-04ebc78e681c",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "spacingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "large"
          ]
        },
        {
          "alias": "spacingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "none"
          ]
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "aktualnosci"
        }
      ]
    },
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "14d5e66b-3b63-406b-90bc-9fd962adab78",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "key": "41448f96-33df-4b03-b111-496d89a90251",
      "values": [
        {
          "alias": "hideBlockElement",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Grafit",
            "value": "1e293b"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "94f0397f-922f-4013-86d4-36fb1eee7022",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "39615ab8-90bf-4cfc-a666-6aade689e025",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "632838e6-606a-4ceb-971f-c5bbae26c38c",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "94f0397f-922f-4013-86d4-36fb1eee7022",
        "contentUdi": null,
        "settingsKey": "fbffc0ad-e521-4dde-b55a-04ebc78e681c",
        "settingsUdi": null
      },
      {
        "contentKey": "39615ab8-90bf-4cfc-a666-6aade689e025",
        "contentUdi": null,
        "settingsKey": "14d5e66b-3b63-406b-90bc-9fd962adab78",
        "settingsUdi": null
      },
      {
        "contentKey": "632838e6-606a-4ceb-971f-c5bbae26c38c",
        "contentUdi": null,
        "settingsKey": "41448f96-33df-4b03-b111-496d89a90251",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <heroCta>
      <Value Culture="en"><![CDATA[[
  {
    "name": "GITHUB",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://github.com/SzymonBogunia/AutomotiveInfo",
    "queryString": null,
    "culture": null
  }
]]]></Value>
      <Value Culture="pl-PL"><![CDATA[[
  {
    "name": "GITHUB",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://github.com/SzymonBogunia/AutomotiveInfo",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </heroCta>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroLead>
      <Value Culture="en"><![CDATA[Without beating around the bush, the latest news from the world of motoring.]]></Value>
      <Value Culture="pl-PL"><![CDATA[Bez owijania w bawełnę, najnowsze newsy z świata motoryzacji.]]></Value>
    </heroLead>
    <heroTitle>
      <Value Culture="en"><![CDATA[Automotive INFO. Always with you.]]></Value>
      <Value Culture="pl-PL"><![CDATA[Automovive INFO. Zawsze przy tobie.]]></Value>
    </heroTitle>
    <mainGridLayout>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl-PL"><![CDATA[]]></Value>
    </mainGridLayout>
    <seoDescription>
      <Value Culture="en"><![CDATA[Automotive INFO — a knowledge base for drivers: news, car reviews and maintenance advice.]]></Value>
      <Value Culture="pl-PL"><![CDATA[Automotive INFO — baza wiedzy dla kierowców: aktualności, testy samochodów i porady eksploatacyjne.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="en"><![CDATA[Automotive news and advice for drivers]]></Value>
      <Value Culture="pl-PL"><![CDATA[Portal motoryzacyjny — aktualności i porady dla kierowców]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>