<?xml version="1.0" encoding="utf-8"?>
<Content Key="225bcefd-b793-4d2b-9b0e-e0f5db282293" Alias="Automotive Info" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AutomotiveInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteContainer</ContentType>
    <CreateDate>2026-07-15T01:29:14</CreateDate>
    <NodeName Default="Automotive Info">
      <Name Culture="en-US">Automotive Info</Name>
      <Name Culture="pl-PL">Portal Motoryzacyjny</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <navLinks>
      <Value><![CDATA[]]></Value>
    </navLinks>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>