<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1dedfcc-efb3-4ebd-bdb3-b5b35c231509" Alias="Strona Wyszukiwania" Level="3">
  <Info>
    <Parent Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">Strona Główna</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna/StronaWyszukiwania</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2026-08-05T15:37:48</CreateDate>
    <NodeName Default="Strona Wyszukiwania">
      <Name Culture="en">Search Page</Name>
      <Name Culture="pl-PL">Strona Wyszukiwania</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019fd28b-3c1e-7de7-acce-8dea44078592">StronaWyszukiwania</Template>
  </Info>
  <Properties />
</Content>