<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2f9cb5b-ab3b-4d59-b791-137161679af4" Alias="Tag Premiera" Level="4">
  <Info>
    <Parent Key="27813ec0-7aac-4ff0-bfc4-4b2885ccb15f">Tagi</Parent>
    <Path>/PortalMotoryzacyjny/BazaDanych/Tagi/TagPremiera</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-07-16T20:09:34</CreateDate>
    <NodeName Default="Tag Premiera" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Premiera]]></Value>
    </tagName>
  </Properties>
</Content>