<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2f9cb5b-ab3b-4d59-b791-137161679af4" Alias="Tag Premiera" Level="3">
  <Info>
    <Parent Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f">Database</Parent>
    <Path>/PortalMotoryzacyjny/Database/TagPremiera</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-07-16T20:09:34</CreateDate>
    <NodeName Default="Tag Premiera" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Premiera]]></Value>
    </tagName>
  </Properties>
</Content>