<?xml version="1.0" encoding="utf-8"?>
<Content Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f" Alias="Database" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Portal Motoryzacyjny</Parent>
    <Path>/PortalMotoryzacyjny/Database</Path>
    <Trashed>false</Trashed>
    <ContentType>dataRepository</ContentType>
    <CreateDate>2026-07-15T01:29:36</CreateDate>
    <NodeName Default="Database">
      <Name Culture="en-US">Database</Name>
      <Name Culture="pl-PL">Baza Danych</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>