<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Automotive Info</Parent>
    <Path>/AutomotiveInfo/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>frontPage</ContentType>
    <CreateDate>2026-07-15T01:49:58</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-US">Home Page</Name>
      <Name Culture="pl-PL">Strona Główna</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6376-7933-7b87-b179-a5329cb3f676">StronaGlowna</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <heroCta>
      <Value><![CDATA[]]></Value>
    </heroCta>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0428060a-05db-45f0-9d59-55109434b5ce",
    "mediaKey": "473af815-8076-432e-9c9d-933f3a743ae7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroLead>
      <Value><![CDATA[Witam serdecznie na stronie głównej]]></Value>
    </heroLead>
    <heroTitle>
      <Value><![CDATA[Strona głowna]]></Value>
    </heroTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>