<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dec5457-c276-4b75-9422-339ae5c86243" Alias="Info Page" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Automotive Info</Parent>
    <Path>/AutomotiveInfo/InfoPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-07-15T12:17:07</CreateDate>
    <NodeName Default="Info Page">
      <Name Culture="en-US">Info Page</Name>
      <Name Culture="pl-PL">Strona Informacyjna</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65a7-8e53-7ba4-9bf0-a785bf0fba39">StronaInformacyjna</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <heading>
      <Value><![CDATA[Informacje]]></Value>
    </heading>
    <lead>
      <Value><![CDATA[Dużo informacji]]></Value>
    </lead>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>