<?xml version="1.0" encoding="utf-8"?>
<Content Key="584475a0-6f58-4ffe-92f3-cf1855924948" Alias="News Page" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Automotive Info</Parent>
    <Path>/AutomotiveInfo/NewsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListPage</ContentType>
    <CreateDate>2026-07-15T12:18:19</CreateDate>
    <NodeName Default="News Page">
      <Name Culture="en-US">News Page</Name>
      <Name Culture="pl-PL">Strona Aktualności</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65af-a8e6-702d-8761-911a73a2fee5">ListaAktualnosci</Template>
  </Info>
  <Properties>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <title>
      <Value><![CDATA[Aktualności aktualne]]></Value>
    </title>
  </Properties>
</Content>