<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ae3ba5d-134e-4ac5-90e7-9fcedb2ecf33" Alias="Po uderzeniu w drzewo z auta wypadł 19-latek. Tylko on przeżył" Level="3">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">Strona Aktualności</Parent>
    <Path>/PortalMotoryzacyjny/StronaAktualnosci/PoUderzeniuWDrzewoZAutaWypadl19LatekTylkoOnPrzezyl</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-16T22:05:56</CreateDate>
    <NodeName Default="Po uderzeniu w drzewo z auta wypadł 19-latek. Tylko on przeżył">
      <Name Culture="pl-PL">Po uderzeniu w drzewo z auta wypadł 19-latek. Tylko on przeżył</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value Culture="pl-PL"><![CDATA[Po uderzeniu w drzewo z auta wypadł 19-latek. Tylko on przeżył]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "key": "347d7706-3fa9-4065-8062-c2878151a603",
      "values": [
        {
          "alias": "componentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003EPodczas wyprzedzania innego pojazdu straci\u0142 panowanie nad autem, wypad\u0142 z drogi i uderzy\u0142 w drzewo. W porannym wypadku na drodze krajowej numer 32 zgin\u0119li kierowca i jeden z pasa\u017Cer\u00F3w.\u003C/strong\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: left;\u0022\u003EDo wypadku dosz\u0142o oko\u0142o godziny 6 na drodze krajowej 32 mi\u0119dzy Ptaszkowem a Kotowem. - Ze wst\u0119pnych ustale\u0144 policjant\u00F3w wynika, \u017Ce 26-latek kieruj\u0105cy pojazdem marki Mazda nie zachowa\u0142 ostro\u017Cno\u015Bci w trakcie wyprzedzania, w wyniku czego auto uderzy\u0142o w drzewo - m\u00F3wi sier\u017Cant sztabowy Aleksandra Hoffmann z Komendy Powiatowej Policji w\u0026nbsp;Grodzisku Wielkopolskim.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "key": "f7a5df9c-6545-4e89-8d7d-db3679fe09c8",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c5a4a53a-f36a-4db7-960d-7ae8f7326d04",
              "mediaKey": "d49b34c9-3f07-4647-87be-b1b9db7debbd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003E19-latek wypad\u0142 z auta, tylko on prze\u017Cy\u0142\u003C/strong\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: left;\u0022\u003EPo uderzeniu w drzewo z samochodu wypad\u0142 19-latek. M\u0119\u017Cczyzna trafi\u0142 do szpitala w Nowym Tomy\u015Blu.\u003C/p\u003E\u003Cp style=\u0022text-align: left;\u0022\u003EW wypadku zgin\u0119li 26-latek i 23-latek.\u0026nbsp;Obaj byli zakleszczeni w poje\u017Adzie.\u003C/p\u003E\u003Cp style=\u0022text-align: left;\u0022\u003ENa miejscu zdarzenia pracowa\u0142y cztery zast\u0119py stra\u017Cy po\u017Carnej, policja i pogotowie ratunkowe.\u003C/p\u003E"
          }
        },
        {
          "alias": "imagePosition",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Prawo"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "347d7706-3fa9-4065-8062-c2878151a603",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f7a5df9c-6545-4e89-8d7d-db3679fe09c8",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "347d7706-3fa9-4065-8062-c2878151a603",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f7a5df9c-6545-4e89-8d7d-db3679fe09c8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "924d874b-10e2-4d8e-ad05-a1bddd892b94",
    "mediaKey": "bf83dcc3-6184-4eed-94f3-acd39a410928",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-07-17T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/3216023c16134c1f9807354bc3c09e91]]></Value>
    </tag>
  </Properties>
</Content>