<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f3b47d4-64b9-4792-8b89-41e08f13b997" Alias="Premiera nowego Audi" Level="3">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">News Page</Parent>
    <Path>/AutomotiveInfo/NewsPage/PremieraNowegoAudi</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-15T12:19:06</CreateDate>
    <NodeName Default="Premiera nowego Audi" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value><![CDATA[Premiera nowego Audi]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7ff43099-cece-4434-851e-cc2811fdb689",
    "mediaKey": "473af815-8076-432e-9c9d-933f3a743ae7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-07-15T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/92f7d19347c24615b25c1f222c58eaa3]]></Value>
    </tag>
  </Properties>
</Content>