<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f3b47d4-64b9-4792-8b89-41e08f13b997" Alias="Premiera nowego Audi" Level="3">
  <Info>
    <Parent Key="584475a0-6f58-4ffe-92f3-cf1855924948">Strona Aktualności</Parent>
    <Path>/PortalMotoryzacyjny/StronaAktualnosci/PremieraNowegoAudi</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-15T12:19:06</CreateDate>
    <NodeName Default="Premiera nowego Audi">
      <Name Culture="pl-PL">Premiera nowego Audi</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65b3-d5d9-709f-a2a6-cf4de5b55ec4">Artykul</Template>
  </Info>
  <Properties>
    <articleTitle>
      <Value Culture="pl-PL"><![CDATA[Premiera nowego Audi]]></Value>
    </articleTitle>
    <author>
      <Value><![CDATA[umb://document/833364f91e1e4f9a866584920b87dfba]]></Value>
    </author>
    <components>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "key": "247ea5ef-869b-4a09-b95d-af4c94a7975e",
      "values": [
        {
          "alias": "componentText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003EAudi chce naprawi\u0107 to, co klienci krytykowali od lat\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003EPrzysz\u0142e A4 ma by\u0107 czym\u015B wi\u0119cej ni\u017C tylko kolejnym Audi z nowym rodzajem nap\u0119du. Niemcy zapowiadaj\u0105 wyra\u017Any zwrot w kabinie sami przyznaj\u0105c, \u017Ce \u003Cstrong\u003Ejako\u015B\u0107 wyko\u0144czenia ostatnich modeli nie spe\u0142nia\u0142a oczekiwa\u0144 klient\u00F3w\u003C/strong\u003E. W praktyce oznacza to lepsze materia\u0142y, wi\u0119cej fizycznych przycisk\u00F3w i mniej funkcji upchni\u0119tych wy\u0142\u0105cznie w ekranie dotykowym.\u003C/p\u003E\u003Cp\u003ETo wa\u017Cna deklaracja, bo w ostatnich latach wielu producent\u00F3w przesadzi\u0142o z cyfryzacj\u0105 wn\u0119trz. Ekran potrafi wygl\u0105da\u0107 efektownie, ale podczas jazdy fizyczny prze\u0142\u0105cznik cz\u0119sto wygrywa prostot\u0105.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "247ea5ef-869b-4a09-b95d-af4c94a7975e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "247ea5ef-869b-4a09-b95d-af4c94a7975e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7ff43099-cece-4434-851e-cc2811fdb689",
    "mediaKey": "473af815-8076-432e-9c9d-933f3a743ae7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2026-07-15T00:00:00]]></Value>
    </publishDate>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
    <tag>
      <Value><![CDATA[umb://document/b2f9cb5bab3b4d59b791137161679af4]]></Value>
    </tag>
  </Properties>
</Content>