<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dec5457-c276-4b75-9422-339ae5c86243" Alias="Strona Informacyjna" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Portal Motoryzacyjny</Parent>
    <Path>/PortalMotoryzacyjny/StronaInformacyjna</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-07-15T12:17:07</CreateDate>
    <NodeName Default="Strona Informacyjna">
      <Name Culture="en-US">Info Page</Name>
      <Name Culture="pl-PL">Strona Informacyjna</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f65a7-8e53-7ba4-9bf0-a785bf0fba39">StronaInformacyjna</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <heading>
      <Value Culture="en-US"><![CDATA[Info Page]]></Value>
      <Value Culture="pl-PL"><![CDATA[Informacje]]></Value>
    </heading>
    <lead>
      <Value Culture="en-US"><![CDATA[Nunc et quam iaculis, condimentum nisi a, vehicula purus. Mauris elementum elit et consequat consequat. Aenean at lectus vitae lectus finibus ultrices eu nec magna. Phasellus sodales eleifend nisl, et aliquam augue viverra et. Donec congue ante elit, eu ultrices ex cursus vitae. Nunc et justo turpis. Suspendisse imperdiet, felis id tincidunt iaculis, turpis arcu pharetra ante, a euismod justo turpis sed orci. Nunc et suscipit libero. Duis blandit arcu sit amet ex cursus lobortis.]]></Value>
      <Value Culture="pl-PL"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id semper diam. Suspendisse sed efficitur lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent egestas, justo vel scelerisque interdum, nunc mi euismod felis, id accumsan ligula sem vitae nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris placerat magna elit. Maecenas tempor purus massa, eget venenatis nulla volutpat in.]]></Value>
    </lead>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>