<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d" Alias="Strona Główna" Level="2">
  <Info>
    <Parent Key="225bcefd-b793-4d2b-9b0e-e0f5db282293">Portal Motoryzacyjny</Parent>
    <Path>/PortalMotoryzacyjny/StronaGlowna</Path>
    <Trashed>false</Trashed>
    <ContentType>frontPage</ContentType>
    <CreateDate>2026-07-15T01:49:58</CreateDate>
    <NodeName Default="Strona Główna">
      <Name Culture="en-US">Home Page</Name>
      <Name Culture="pl-PL">Strona Główna</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">false</Published>
      <Published Culture="pl-PL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019f6376-7933-7b87-b179-a5329cb3f676">StronaGlowna</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="pl-PL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "key": "f5b02cee-2841-42a3-851a-0fd9eac991d5",
      "values": [
        {
          "alias": "blockTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Najnowsze artyku\u0142y z tagiem: Premiera"
        },
        {
          "alias": "source",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/584475a06f584ffe92f3cf1855924948"
        },
        {
          "alias": "tagFilter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b2f9cb5bab3b4d59b791137161679af4"
        }
      ]
    },
    {
      "contentTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "key": "71c0056a-2618-49a9-a810-d12d72cdde0d",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "34892152-1d15-4a8f-ad7e-21723c09d0c3",
              "mediaKey": "7052fe57-2387-41f3-8f28-fcfe0c181bb9",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EConcept Vision naszego samochodu firmowego AUTOMOTIVE INFO\u003C/p\u003E"
          }
        },
        {
          "alias": "imagePosition",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Lewo"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2f105451-1c2e-4804-a7ba-d1c0163893e7",
      "key": "7dcb6669-9806-41cf-b843-82d04d6c2812",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Szukasz auta?"
        },
        {
          "alias": "lead",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Przejd\u017A na stron\u0119 otomoto:"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "OTOMOTO",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://otomoto.pl",
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f5b02cee-2841-42a3-851a-0fd9eac991d5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "71c0056a-2618-49a9-a810-d12d72cdde0d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7dcb6669-9806-41cf-b843-82d04d6c2812",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f5b02cee-2841-42a3-851a-0fd9eac991d5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "71c0056a-2618-49a9-a810-d12d72cdde0d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7dcb6669-9806-41cf-b843-82d04d6c2812",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <heroCta>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Link to my friend chat:D",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://chatgpt.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
      <Value Culture="pl-PL"><![CDATA[[
  {
    "name": "Link do mojego kumpla chata :D",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://chatgpt.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </heroCta>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "f2f516ef-79dd-4452-8a45-135ee0d54873",
    "mediaKey": "4d1714e2-ee93-4c8c-934c-268861ca34ae",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroLead>
      <Value Culture="en-US"><![CDATA[Welcome at home page]]></Value>
      <Value Culture="pl-PL"><![CDATA[Witam serdecznie na stronie głównej]]></Value>
    </heroLead>
    <heroTitle>
      <Value Culture="en-US"><![CDATA[Home page]]></Value>
      <Value Culture="pl-PL"><![CDATA[Strona głowna]]></Value>
    </heroTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <seoToggle>
      <Value><![CDATA[0]]></Value>
    </seoToggle>
  </Properties>
</Content>