<?xml version="1.0" encoding="utf-8"?>
<Content Key="92f7d193-47c2-4615-b25c-1f222c58eaa3" Alias="Tag Autostrada" Level="3">
  <Info>
    <Parent Key="e57d0b10-9a5a-4c3e-b16b-d5f3619b1c8f">Database</Parent>
    <Path>/AutomotiveInfo/Database/TagAutostrada</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-07-15T01:30:30</CreateDate>
    <NodeName Default="Tag Autostrada" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[autostrada]]></Value>
    </tagName>
  </Properties>
</Content>