<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="14d602a5-ae19-4d49-a9a9-4706d33bcafe" Alias="General_NoComponents_Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">No components</Translation>
    <Translation Language="es">Sin componentes</Translation>
    <Translation Language="pl-PL">Brak komponentów</Translation>
  </Translations>
</Dictionary>