<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="200e4643-12cc-46a0-b2a4-f9f850420633" Alias="Error404_HomeLink" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Return to the home page</Translation>
    <Translation Language="es">Regresar a la página principal</Translation>
    <Translation Language="pl-PL">Wróć na stronę główną</Translation>
  </Translations>
</Dictionary>