<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a775245-e9d9-4d39-b6af-50aad7e55ac4" Alias="Search_FilterByTag" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Filter by tag</Translation>
    <Translation Language="es">Filtrar por etiqueta</Translation>
    <Translation Language="pl-PL">Filtruj po tagu</Translation>
  </Translations>
</Dictionary>