<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b6cba87-fba0-4b52-83b2-22dff7fa0e93" Alias="Cta_DefaultLinkText" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Click here</Translation>
    <Translation Language="es">Haga clic aquí</Translation>
    <Translation Language="pl-PL">Kliknij tutaj</Translation>
  </Translations>
</Dictionary>