<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4cc3532b-d56b-4e82-a9d8-affbf1be2aff" Alias="Accordion_Empty" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">This accordion doesn't contain any questions yet.</Translation>
    <Translation Language="es">Este acordeón aún no contiene ninguna pregunta.</Translation>
    <Translation Language="pl-PL">Ten akordeon nie zawiera jeszcze żadnych pytań.</Translation>
  </Translations>
</Dictionary>