<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f543112-c6b3-4f75-abd3-5bb1b434d360" Alias="Search_SubmitButton" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Search</Translation>
    <Translation Language="es">Buscar</Translation>
    <Translation Language="pl-PL">Szukaj</Translation>
  </Translations>
</Dictionary>