<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="52f8bc3d-7f4e-47ec-a203-7b8a259fd2c6" Alias="News_NoFilterResults" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">No articles match the filter criteria.</Translation>
    <Translation Language="es">Ningún artículo coincide con los criterios del filtro.</Translation>
    <Translation Language="pl-PL">Brak wyników spełniających kryteria filtrowania.</Translation>
  </Translations>
</Dictionary>