<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="587906ea-cbd1-45b0-9ca5-28b0acba5ec7" Alias="Search_Placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Enter your search phrase or tag...</Translation>
    <Translation Language="es">Introduce tu frase de búsqueda o etiqueta...</Translation>
    <Translation Language="pl-PL">Wpisz szukaną frazę lub tag...</Translation>
  </Translations>
</Dictionary>