<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="63ac62c7-36c5-4493-90d9-8b62835c81cf" Alias="Home_HeroBadge" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Passion and Technology</Translation>
    <Translation Language="es">Pasión y tecnología</Translation>
    <Translation Language="pl-PL">Pasja i Technologia</Translation>
  </Translations>
</Dictionary>