<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6897dc17-22bb-40e5-b6d3-95d223a697e9" Alias="Search_NoResults" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">No articles matched your search criteria.</Translation>
    <Translation Language="es">No se encontraron artículos que coincidieran con sus criterios de búsqueda.</Translation>
    <Translation Language="pl-PL">Brak artykułów spełniających kryteria wyszukiwania.</Translation>
  </Translations>
</Dictionary>