<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68ce279d-2183-45eb-aaa6-8067e6cce56a" Alias="Search_ResultsFoundPrefix" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">{0} articles found for the phrase:</Translation>
    <Translation Language="es">Se encontraron {0} artículos para la frase:</Translation>
    <Translation Language="pl-PL">Znaleziono {0} artykułów dla frazy:</Translation>
  </Translations>
</Dictionary>