<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6f62a1e2-148c-4381-98b2-5e408435e13e" Alias="General_NoImage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">🖼️ No image</Translation>
    <Translation Language="es">🖼️ Sin foto</Translation>
    <Translation Language="pl-PL">🖼️ Brak zdjęcia</Translation>
  </Translations>
</Dictionary>