<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76651ed9-8fd0-4bf7-9bfa-f951f3b701cb" Alias="Error404_Heading" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Page not found</Translation>
    <Translation Language="es">Página no encontrada</Translation>
    <Translation Language="pl-PL">Nie znaleziono strony</Translation>
  </Translations>
</Dictionary>