<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a45caff-d6c6-4890-99f3-9292004c37a7" Alias="Search_ClearTag" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Clear filter</Translation>
    <Translation Language="es">Borrar filtro</Translation>
    <Translation Language="pl-PL">Wyczyść filtr</Translation>
  </Translations>
</Dictionary>