<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7fd41746-e7e2-47e4-b050-1191fe94c7cf" Alias="News_NoResults" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">There are currently no published articles.</Translation>
    <Translation Language="es">Actualmente no hay artículos publicados.</Translation>
    <Translation Language="pl-PL">Aktualnie brak opublikowanych artykułów.</Translation>
  </Translations>
</Dictionary>