<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d2607f6-69a2-4aaf-bcfc-7e7349838ce0" Alias="Search_ReadArticle" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Read the article →</Translation>
    <Translation Language="es">Lee el artículo →</Translation>
    <Translation Language="pl-PL">Czytaj artykuł →</Translation>
  </Translations>
</Dictionary>