<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="abbb8647-9de5-480e-bbb9-fb4fa1d655fd" Alias="General_ViewAll" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">View all →</Translation>
    <Translation Language="es">Ver todo →</Translation>
    <Translation Language="pl-PL">Zobacz wszystkie →</Translation>
  </Translations>
</Dictionary>