<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac20e8cb-1113-442b-8d02-db026c45c859" Alias="Search_Title" Level="0">
  <Info />
  <Translations>
    <Translation Language="en">Article search engine</Translation>
    <Translation Language="es">Motor de búsqueda de artículos</Translation>
    <Translation Language="pl-PL">Wyszukiwarka artykułów</Translation>
  </Translations>
</Dictionary>