<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73a7189a-b399-44ea-9ec3-220d29bcdd1d" Alias="error404Page" Level="2">
  <Info>
    <Name>Strona błędu 404</Name>
    <Icon>icon-application-error</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Strony</Folder>
    <Compositions>
      <Composition Key="bd319289-74ee-4ddf-8167-6583775b3bdd">basePage</Composition>
      <Composition Key="f7043cf9-e876-4530-9603-8f48104572d7">navigationSettings</Composition>
    </Compositions>
    <DefaultTemplate>StronaBledu404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f65aa-bf0b-7c7f-ba31-1928f27a99b9">StronaBledu404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d91b657-4248-4b4a-95a5-5ed4e2c260d0</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Przycisk powrotu — wybierz stronę główną (link wewnętrzny rozwiązuje się per język).]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="treść">Treść</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6c8a6f6f-c5dd-48b7-9a13-1dd92c31beab</Key>
      <Caption>Treść</Caption>
      <Alias>treść</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>