<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f461acd-444b-4f94-bf96-ea38ef3d3f51" Alias="dataRepository" Level="2">
  <Info>
    <Name>Repozytorium Danych</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Baza+Danych</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="67779973-8155-4ffd-ab5b-c2ded7f41299" SortOrder="0">tag</ContentType>
    <ContentType Key="798e73ea-d1ea-4973-989b-48991f761893" SortOrder="1">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>