<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a28d0396-296e-4696-ace0-94f423524d8a" Alias="folderAuthor" Level="2">
  <Info>
    <Name>Folder Autorzy</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Baza+Danych</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="798e73ea-d1ea-4973-989b-48991f761893" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>