<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c350d716-b434-45f7-a645-6176f4fb7c2d" Alias="blockSettings" Level="2">
  <Info>
    <Name>Ustawienia blocku</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Komponenty</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d56738ec-9d72-4b31-b9a4-460a2116e964</Key>
      <Name>Ukryj</Name>
      <Alias>hideBlockElement</Alias>
      <Definition>d42b7ca9-e9c8-4833-9f21-8e09fcb1d1de</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ustawienia">Ustawienia</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3012872b-19cb-4f25-9c0f-fe588b4db084</Key>
      <Caption>Ustawienia</Caption>
      <Alias>ustawienia</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>