<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ede3fd7a-2f08-469d-95c2-10791dfc795f" Alias="imageWithTextBlock" Level="2">
  <Info>
    <Name>Obrazek z tekstem</Name>
    <Icon>icon-projector</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Komponenty</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4afbccd0-5477-4322-ad40-6625f73036f3</Key>
      <Name>Zdjęcie</Name>
      <Alias>image</Alias>
      <Definition>e5ec2cc7-3357-4189-8ea1-59f1aaa821b5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="treść">Treść</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7867e972-dcd2-4241-bcc6-52a08bc0aafc</Key>
      <Name>Pozycja zdjęcia</Name>
      <Alias>imagePosition</Alias>
      <Definition>8311eb37-2e77-4645-9d8e-f8255f087c92</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="treść">Treść</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>abe5eddd-8281-417c-bcd5-b0578a9c1703</Key>
      <Name>Tekst</Name>
      <Alias>text</Alias>
      <Definition>22a7f9fa-f9d5-4e11-a8c8-c6cb9e9c60d7</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="treść">Treść</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bb1c93eb-49f7-4eb8-8c17-adac7f90a94d</Key>
      <Caption>Treść</Caption>
      <Alias>treść</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>