<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f706b9a5-f079-49fe-ab49-d77586cf3605" Alias="searchPage" Level="2">
  <Info>
    <Name>Strona Wyszukiwania</Name>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Strony</Folder>
    <Compositions />
    <DefaultTemplate>StronaWyszukiwania</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019fd28b-3c1e-7de7-acce-8dea44078592">StronaWyszukiwania</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>