<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f706b9a5-f079-49fe-ab49-d77586cf3605" Alias="searchPage" Level="2">
  <Info>
    <Name>Strona Wyszukiwania</Name>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Strona wyszukiwania artykułów z filtrem tagów. Nagłówek i opis pochodzą z kompozycji Strona bazowa.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Strony</Folder>
    <Compositions>
      <Composition Key="bd319289-74ee-4ddf-8167-6583775b3bdd">basePage</Composition>
      <Composition Key="f7043cf9-e876-4530-9603-8f48104572d7">navigationSettings</Composition>
      <Composition Key="9b6de0fa-85ed-42fd-a7f5-b2f9fcf4ce9a">seoSettings</Composition>
    </Compositions>
    <DefaultTemplate>StronaWyszukiwania</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019fd28b-3c1e-7de7-acce-8dea44078592">StronaWyszukiwania</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1000000-0000-4000-8000-000000000002</Key>
      <Name>Wyników na stronę</Name>
      <Alias>resultsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ile wyników pokazać na jednej stronie (1–50). Puste = 5.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="wyszukiwanie">Wyszukiwanie</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1000000-0000-4000-8000-000000000001</Key>
      <Caption>Wyszukiwanie</Caption>
      <Alias>wyszukiwanie</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>