<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b6de0fa-85ed-42fd-a7f5-b2f9fcf4ce9a" Alias="seoSettings" Level="2">
  <Info>
    <Name>Ustawienia SEO</Name>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>SEO</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c78fb1e7-86e0-4ff4-b287-52717d3bc156</Key>
      <Name>Opis SEO</Name>
      <Alias>seoDescription</Alias>
      <Definition>7649dba8-ed67-4b33-b777-3c0f1807ae86</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO/sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bdc0e7cb-fa3d-48fe-bf7d-e14fe8f45be7</Key>
      <Name>Tytuł SEO</Name>
      <Alias>seoTitle</Alias>
      <Definition>4a01bdce-60ce-4a89-9ae5-bc3158b2549b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^.{0,100}$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO/sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f08f6b1f-cefc-4c1f-9558-29030bf52976</Key>
      <Name>Wyłącz SEO</Name>
      <Alias>seoToggle</Alias>
      <Definition>2b4e62fe-8564-4e60-932b-8191bcf1e1a6</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO/sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c27de78e-fc26-4a24-83cd-c992a922f286</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f668ce49-5aea-4d3f-b4a4-a8727007158f</Key>
      <Caption>SEO</Caption>
      <Alias>sEO/sEO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>