<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20934eda-ac47-4c61-b80e-38c286805d90" Alias="websiteContainer" Level="1">
  <Info>
    <Name>Kontener Strony</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9b6de0fa-85ed-42fd-a7f5-b2f9fcf4ce9a">seoSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7f461acd-444b-4f94-bf96-ea38ef3d3f51" SortOrder="0">dataRepository</ContentType>
    <ContentType Key="3f1e0dc6-ce22-41fd-8943-acb331787591" SortOrder="1">frontPage</ContentType>
    <ContentType Key="5c1b4e01-48b8-4753-bcce-4135eb4de4ae" SortOrder="2">contentPage</ContentType>
    <ContentType Key="73a7189a-b399-44ea-9ec3-220d29bcdd1d" SortOrder="3">error404Page</ContentType>
    <ContentType Key="5aacf496-5f0a-4f82-964c-87c0610eadce" SortOrder="4">newsListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f744b86b-8087-4e50-8037-1c6eb0e96b33</Key>
      <Name>Tekst praw autorskich</Name>
      <Alias>copyrightText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="stopka">Stopka</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d38a9922-e403-4126-8974-a9425551370c</Key>
      <Name>Linki w stopce</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="stopka">Stopka</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3532d8b-e92e-4b59-aed7-aac6d9e833c0</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>610eabec-0b94-4b3c-bdb2-053e046df2ed</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="nawigacja">Nawigacja</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45ad347f-c979-475c-adf0-eee814255288</Key>
      <Name>Linki Nawigacyjne</Name>
      <Alias>navLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="nawigacja">Nawigacja</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>617eede9-c5d9-4cbb-b263-fd42adf71f0c</Key>
      <Caption>Stopka</Caption>
      <Alias>stopka</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e794b8a3-9f1d-4ef2-8050-85b4e7d26942</Key>
      <Caption>Nawigacja</Caption>
      <Alias>nawigacja</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>