<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0154911e-b7ba-474d-8a86-f61148e01654" Alias="Strona błędu 404 - Ukryj w nawigacji - Toggle" Level="1">
  <Info>
    <Name>Strona błędu 404 - Ukryj w nawigacji - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>