<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a731403-1f64-4996-90a3-a15339b88ab7" Alias="Main Block Grid" Level="1">
  <Info>
    <Name>Main Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "2f105451-1c2e-4804-a7ba-d1c0163893e7",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": false
}]]></Config>
</DataType>