<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e9e39f2-60fc-4771-84b6-ab8031b89b60" Alias="Media Picker z Crop" Level="2">
  <Info>
    <Name>Media Picker z Crop</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Media</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "card",
      "alias": "card",
      "width": 1600,
      "height": 900
    },
    {
      "label": "hero",
      "alias": "hero",
      "width": 2100,
      "height": 900
    }
  ],
  "enableLocalFocalPoint": true,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>