<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22a7f9fa-f9d5-4e11-a8c8-c6cb9e9c60d7" Alias="RTE - Advanced" Level="1">
  <Info>
    <Name>RTE - Advanced</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Heading"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.TextIndent"
      ]
    ],
    [
      [
        "Umb.Tiptap.Toolbar.Heading2",
        "Umb.Tiptap.Toolbar.Heading3",
        "Umb.Tiptap.Toolbar.Heading4",
        "Umb.Tiptap.Toolbar.Heading3"
      ],
      [
        "Umb.Tiptap.Toolbar.Table"
      ]
    ]
  ]
}]]></Config>
</DataType>