<?xml version="1.0" encoding="utf-8"?>
<DataType Key="232ad4c2-7d4c-45cb-8b30-d470a9064f5f" Alias="[Block List] Komponenty Strona informacyjna (Content Page)" Level="2">
  <Info>
    <Name>[Block List] Komponenty Strona informacyjna (Content Page)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Bloki+(Block+List)</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc8cfc9b-08fe-4be1-8a61-49c6dedf32ba",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "label": "\uD83D\uDCDD Tekst"
    },
    {
      "contentElementTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "label": "\uD83D\uDDBC\uFE0F Obrazek z tekstem"
    },
    {
      "contentElementTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "label": "\uD83D\uDCF0 Aktualno\u015Bci: {{blockTitle}}"
    },
    {
      "contentElementTypeKey": "6530759e-1fed-4416-aa9d-7844a7df44c0",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d",
      "label": "\uD83C\uDF9B\uFE0F Akordeon: {{title}}"
    }
  ]
}]]></Config>
</DataType>