<?xml version="1.0" encoding="utf-8"?>
<DataType Key="610eabec-0b94-4b3c-bdb2-053e046df2ed" Alias="Kontener Strony - Logo - Media Picker" Level="2">
  <Info>
    <Name>Kontener Strony - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Media</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>