<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7649dba8-ed67-4b33-b777-3c0f1807ae86" Alias="TextBox [150 znaków]" Level="2">
  <Info>
    <Name>TextBox [150 znaków]</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Pola+tekstowe</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 150
}]]></Config>
</DataType>