<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81d30633-f292-46e5-87bc-c3e43cc7f059" Alias="Strona Informacyjna - Ukryj w nawigacji - Toggle" Level="1">
  <Info>
    <Name>Strona Informacyjna - Ukryj w nawigacji - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>