<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c008682-07fb-47c7-a37f-10eccf67ffb2" Alias="FAQ - Opis - Text Area" Level="1">
  <Info>
    <Name>FAQ - Opis - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>