<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c4dab32-61b1-44cc-91c8-621ae5b34f1f" Alias="Strona Główna - Pole Komponenty - Block List" Level="1">
  <Info>
    <Name>Strona Główna - Pole Komponenty - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>