<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d60eda4-b8c3-4d14-99a7-c2084b8c6f05" Alias="Wezwanie do akcji (CTE) - Kolor tła - Color Picker" Level="2">
  <Info>
    <Name>Wezwanie do akcji (CTE) - Kolor tła - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Prze%c5%82%c4%85czniki+i+kolory</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "0f172a",
      "label": "bg-slate-900"
    },
    {
      "value": "450a0a",
      "label": "bg-red-950"
    },
    {
      "value": "1e293b",
      "label": "bg-slate-800"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>