<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e09a150-1310-48e6-b978-886e583e1a33" Alias="Lista Aktualności - Ukryj w nawigacji - Toggle" Level="1">
  <Info>
    <Name>Lista Aktualności - Ukryj w nawigacji - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>