<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a69cc084-20d1-439e-a900-8e3685c212d3" Alias="Strona Informacyjna - Komponenty - Block List" Level="1">
  <Info>
    <Name>Strona Informacyjna - Komponenty - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>