<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14d9d47c-2441-4f74-a91a-9c919e640a84" Alias="Artykuł - Tytuł artykułu - Text Box" Level="1">
  <Info>
    <Name>Artykuł - Tytuł artykułu - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>