<?xml version="1.0" encoding="utf-8"?>
<DataType Key="769a4bc5-c6aa-420b-aabe-0342d135cbd8" Alias="Autor - Zdjęcie - Media Picker" Level="1">
  <Info>
    <Name>Autor - Zdjęcie - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>