<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50ded5e5-2a98-49f0-a377-fc2d523cc946" Alias="[Block List] Akordeon" Level="1">
  <Info>
    <Name>[Block List] Akordeon</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "719d9693-6984-4811-87d1-d9fcba910904",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d"
    }
  ],
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>