<?xml version="1.0" encoding="utf-8"?>
<DataType Key="398655ae-ef46-4b62-9106-11024ef7cbf3" Alias="[Block List] Komponenty Strona głowna (frontPage)" Level="1">
  <Info>
    <Name>[Block List] Komponenty Strona głowna (frontPage)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2f105451-1c2e-4804-a7ba-d1c0163893e7",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d"
    },
    {
      "contentElementTypeKey": "ede3fd7a-2f08-469d-95c2-10791dfc795f",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d"
    },
    {
      "contentElementTypeKey": "ce243716-4072-4b62-b853-45e21ea7c2aa",
      "settingsElementTypeKey": "c350d716-b434-45f7-a645-6176f4fb7c2d"
    }
  ]
}]]></Config>
</DataType>