<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5dba37b-213f-4da9-abb4-f91d751ef34a" Alias="Artykuł - Komponenty - Block List" Level="1">
  <Info>
    <Name>Artykuł - Komponenty - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>