<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5ec2cc7-3357-4189-8ea1-59f1aaa821b5" Alias="[Media Picker] Limit 1" Level="2">
  <Info>
    <Name>[Media Picker] Limit 1</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Media</Folder>
  </Info>
  <Config><![CDATA[{
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>