<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61f6ab4c-f833-4a58-bec4-1196437b87a3" Alias="Element Aktualności - Tytuł bloku - Text Box" Level="1">
  <Info>
    <Name>Element Aktualności - Tytuł bloku - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>