<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e54ef12-be76-414a-bc7e-54c17191ca37" Alias="Element Akordeonu - Nagłowek - Text Box" Level="1">
  <Info>
    <Name>Element Akordeonu - Nagłowek - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>