<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa8f92b6-e4f2-43af-b5c9-a00e3c37c685" Alias="Wybór jednego autora" Level="2">
  <Info>
    <Name>Wybór jednego autora</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Wybory+tre%c5%9bci</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "798e73ea-d1ea-4973-989b-48991f761893",
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "d3abc6c2-766f-4b2a-9797-ecdccf617057",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "28b31bae-2ec3-4306-9e0f-644de783aab6",
            "7f461acd-444b-4f94-bf96-ea38ef3d3f51"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>