<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa8f92b6-e4f2-43af-b5c9-a00e3c37c685" Alias="Wybór jednego autora" Level="2">
  <Info>
    <Name>Wybór jednego autora</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Wybory+tre%c5%9bci</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "798e73ea-d1ea-4973-989b-48991f761893",
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "unique": "fee546ed-4a9a-40e8-94c7-7e929a2375ba",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "a28d0396-296e-4696-ace0-94f423524d8a"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>