<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8311eb37-2e77-4645-9d8e-f8255f087c92" Alias="Pozycja zdjęcia - Toggle" Level="1">
  <Info>
    <Name>Pozycja zdjęcia - Toggle</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Lewo",
    "Centruj",
    "Prawo"
  ]
}]]></Config>
</DataType>