<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e218a8c7-503b-4c9c-b5fe-5c8ff5af0847" Alias="RTE - Simple" Level="1">
  <Info>
    <Name>RTE - Simple</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.Underline"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia"
      ]
    ]
  ]
}]]></Config>
</DataType>