<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a01bdce-60ce-4a89-9ae5-bc3158b2549b" Alias="TextArea [100 char]" Level="2">
  <Info>
    <Name>TextArea [100 char]</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>TextBoxy</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 100
}]]></Config>
</DataType>