<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b43faa9-65aa-4696-8ce6-de4bae87e898" Alias="Ustawienia bloku - Ukryj - Toggle" Level="1">
  <Info>
    <Name>Ustawienia bloku - Ukryj - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>