<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d42b7ca9-e9c8-4833-9f21-8e09fcb1d1de" Alias="Ustawienia blocku - Ukryj - Toggle" Level="1">
  <Info>
    <Name>Ustawienia blocku - Ukryj - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>