<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b4e62fe-8564-4e60-932b-8191bcf1e1a6" Alias="Ustawienia SEO - Wyłącz SEO - Toggle" Level="1">
  <Info>
    <Name>Ustawienia SEO - Wyłącz SEO - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>