<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d60eda4-b8c3-4d14-99a7-c2084b8c6f05" Alias="Wezwanie do akcji (CTE) - Kolor tła - Color Picker" Level="1">
  <Info>
    <Name>Wezwanie do akcji (CTE) - Kolor tła - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>