<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d82a3cd7-25d8-4266-bce1-a907446e42f7" Alias="Wybór jednego tagu" Level="1">
  <Info>
    <Name>Wybór jednego tagu</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "67779973-8155-4ffd-ab5b-c2ded7f41299",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>