<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10ae8d32-8569-4524-9ddb-9b4bf119290e" Alias="Wybór Listy Aktualności" Level="1">
  <Info>
    <Name>Wybór Listy Aktualności</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "5aacf496-5f0a-4f82-964c-87c0610eadce",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>