<?xml version="1.0" encoding="utf-8"?>
<Media Key="395d7e2e-f097-4db4-943c-16c58fac2563" Alias="2555013.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-15T14:47:27</CreateDate>
    <NodeName Default="2555013.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ug0bxd54/2555013.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>