<?xml version="1.0" encoding="utf-8"?>
<Media Key="9556938e-7aa6-4673-b4ce-f9c4367b63db" Alias="Screenshot 12" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T12:17:22</CreateDate>
    <NodeName Default="Screenshot 12" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/afmbai4p/screenshot_12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>