<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab97a0a1-ec81-485e-bc29-5fc67ea1faab" Alias="Ntqk9Lbahr0Chm6Ly9Vy2Rulmv1L3B1Bhnjbxmvturbxy9Jmzuwyze4Zmi2Ytmzowq4Ntrjnzexnzqwyjy1Mddimi5Qcgeslqmaam0Hgm0Eojmfzqlgzqts3Gacotahotee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ntqk9Lbahr0Chm6Ly9Vy2Rulmv1L3B1Bhnjbxmvturbxy9Jmzuwyze4Zmi2Ytmzowq4Ntrjnzexnzqwyjy1Mddimi5Qcgeslqmaam0Hgm0Eojmfzqlgzqts3Gacotahotee</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-31T14:51:29</CreateDate>
    <NodeName Default="Ntqk9Lbahr0Chm6Ly9Vy2Rulmv1L3B1Bhnjbxmvturbxy9Jmzuwyze4Zmi2Ytmzowq4Ntrjnzexnzqwyjy1Mddimi5Qcgeslqmaam0Hgm0Eojmfzqlgzqts3Gacotahotee" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/klegyc3g/ntqk9lbahr0chm6ly9vy2rulmv1l3b1bhnjbxmvturbxy9jmzuwyze4zmi2ytmzowq4ntrjnzexnzqwyjy1mddimi5qcgeslqmaam0hgm0eojmfzqlgzqts3gacotahotee.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>