<?xml version="1.0" encoding="utf-8"?>
<Media Key="473af815-8076-432e-9c9d-933f3a743ae7" Alias="Audi_A4_B9_sedans_(FL)_1X7A2441.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Audi_A4_B9_sedans_FL_1X7A2441jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-15T12:17:33</CreateDate>
    <NodeName Default="Audi_A4_B9_sedans_(FL)_1X7A2441.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tizhz2i5/audi_a4_b9_sedans_-fl-_1x7a2441.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>