<?xml version="1.0" encoding="utf-8"?>
<Media Key="c09515df-eed5-43d2-98f2-0d000a3d7149" Alias="Screenshot 9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T12:16:56</CreateDate>
    <NodeName Default="Screenshot 9" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kdpng3v2/screenshot_9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>