<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb754384-256e-4cab-80d5-8ff47080cc27" Alias="images.jfif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imagesjfif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T21:28:11</CreateDate>
    <NodeName Default="images.jfif" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/boedg5ih/images.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>