<?xml version="1.0" encoding="utf-8"?>
<Media Key="7122834a-4ac4-4914-8ec7-341712f3245c" Alias="IMG_1523.jpeg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_1523jpeg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T15:43:19</CreateDate>
    <NodeName Default="IMG_1523.jpeg (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yvehjr3n/img_1523.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>