<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbbdf5bb-db9b-4ba0-8ad3-68f1afeb7aad" Alias="IMG_1523.jpeg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_1523jpeg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T21:26:03</CreateDate>
    <NodeName Default="IMG_1523.jpeg (2)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gq5pw5ps/img_1523.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>