<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d1714e2-ee93-4c8c-934c-268861ca34ae" Alias="rs5.jfif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rs5jfif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T15:07:06</CreateDate>
    <NodeName Default="rs5.jfif" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nxpfd450/rs5.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>