<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9ea323e-b455-46f8-a4b6-98770b595689" Alias="rs5.avif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rs5avif</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-07-16T15:05:52</CreateDate>
    <NodeName Default="rs5.avif" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvnbcgls/rs5.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>