<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2c98fdd-46fa-49ea-ae1f-f054dd6c3757" Alias="Screenshot_11.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot_11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T22:05:43</CreateDate>
    <NodeName Default="Screenshot_11.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kjcj43et/screenshot_11.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>