<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d574077-2de4-4121-bcf6-d382f7a89526" Alias="Screenshot_9.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot_9png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T21:36:44</CreateDate>
    <NodeName Default="Screenshot_9.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5cfbdo2n/screenshot_9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>