<?xml version="1.0" encoding="utf-8"?>
<Media Key="9225a244-616f-4451-8697-cf015f72d7d9" Alias="Screenshot_9.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot_9png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T22:01:55</CreateDate>
    <NodeName Default="Screenshot_9.png (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/znuggjag/screenshot_9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>