<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e781627-ec0f-42cc-ae2b-ef981a707357" Alias="x52.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/x52png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-16T21:38:38</CreateDate>
    <NodeName Default="x52.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vdod3sdg/x52.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>