<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a769b71e-0000-0000-0000-000000000000" Alias="localhost:44328">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pl-PL</Language>
    <Root Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">/Portal Motoryzacyjny/Strona Główna</Root>
  </Info>
</Domain>