<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d43bb9f7-0000-0000-0000-000000000000" Alias="localhost:44328/es">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es</Language>
    <Root Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">/Portal Motoryzacyjny/Strona Główna</Root>
  </Info>
</Domain>