<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e1cf3b5f-0000-0000-0000-000000000000" Alias="localhost:44328/faq">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pl-PL</Language>
    <Root Key="5e0b691e-c90b-4f7c-9dad-0b3c759e68bb">/Portal Motoryzacyjny/Strona Główna/FAQ</Root>
  </Info>
</Domain>