<?xml version="1.0" encoding="utf-8"?>
<Domain Key="da8ced00-0000-0000-0000-000000000000" Alias="https://localhost:44328/en/info-page">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="3dec5457-c276-4b75-9422-339ae5c86243">/Portal Motoryzacyjny/Strona Informacyjna</Root>
  </Info>
</Domain>