<?xml version="1.0" encoding="utf-8"?>
<Domain Key="dc40ebc2-0000-0000-0000-000000000000" Alias="https://localhost:44328/page-not-found">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pl-PL</Language>
    <Root Key="4c1db88b-e271-440f-a6ea-153e221d972a">/Portal Motoryzacyjny/Błąd 404</Root>
  </Info>
</Domain>