<?xml version="1.0" encoding="utf-8"?>
<Domain Key="bc3217c8-0000-0000-0000-000000000000" Alias="localhost:44328/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="a7dc7a2e-71d0-49ba-8363-417a51bacd2d">/Portal Motoryzacyjny/Strona Główna</Root>
  </Info>
</Domain>