<?xml version="1.0" encoding="utf-8"?>
<Domain Key="fb9004ad-0000-0000-0000-000000000000" Alias="/strona-aktualnosci">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pl-PL</Language>
    <Root Key="584475a0-6f58-4ffe-92f3-cf1855924948">/Portal Motoryzacyjny/Strona Aktualności</Root>
  </Info>
</Domain>